In [14]:
#Instalando a biblioteca da base de dados do Wooldridge
!pip install wooldridge

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wooldridge in /usr/local/lib/python3.9/dist-packages (0.4.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from wooldridge) (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas->wooldridge) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->wooldridge) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->wooldridge) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->wooldridge) (1.16.0)

## Lista 2 - Exercícios 7, C4 e C13 - Capítulo 13

# Exercício 7 - Capítulo 13

In [15]:
import wooldridge
import statsmodels.formula.api as smf
import pandas as pd

In [16]:
#Carregando a base de dados injury 
df = wooldridge.data('injury')
#Vendo a descrição do dataset
wooldridge.data('injury', description=True)

name of dataset: injury
no of variables: 30
no of observations: 7150

+----------+--------------------------------+
| variable | label                          |
+----------+--------------------------------+
| durat    | duration of benefits           |
| afchnge  | =1 if after change in benefits |
| highearn | =1 if high earner              |
| male     | =1 if male                     |
| married  | =1 if married                  |
| hosp     | =1 if inj. required hosp. stay |
| indust   | industry                       |
| injtype  | type of injury                 |
| age      | age at time of injury          |
| prewage  | previous weekly wage, 1982 $   |
| totmed   | total med. costs, 1982 $       |
| injdes   | 4 digit injury description     |
| benefit  | real dollar value of benefit   |
| ky       | =1 for kentucky                |
| mi       | =1 for michigan                |
| ldurat   | log(durat)                     |
| afhigh   | afchnge*highearn               |
| lprewage | log(wage)                      |
| lage     | log(age)                       |
| ltotmed  | log(totmed); = 0 if totmed < 1 |
| head     | =1 if head injury              |
| neck     | =1 if neck injury              |
| upextr   | =1 if upper extremities injury |
| trunk    | =1 if trunk injury             |
| lowback  | =1 if lower back injury        |
| lowextr  | =1 if lower extremities injury |
| occdis   | =1 if occupational disease     |
| manuf    | =1 if manufacturing industry   |
| construc | =1 if construction industry    |
| highlpre | highearn*lprewage              |
+----------+--------------------------------+

B.D. Meyer, W.K. Viscusi, and D.L. Durbin (1995), “Workers’
Compensation and Injury Duration: Evidence from a Natural Experiment,”
American Economic Review 85, 322-340. Professor Meyer kindly provided
the data.

In [17]:
#Filtrando o dataset para o Kentucky 
df_t = df[df.ky == 1] #1 é positivo para kentucky

In [18]:
#Fazendo o modelo 
model = smf.ols('ldurat ~ afchnge + highearn + afhigh', data=df_t)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 ldurat   R-squared:                       0.021
Model:                            OLS   Adj. R-squared:                  0.020
Method:                 Least Squares   F-statistic:                     39.54
Date:                Mon, 24 Apr 2023   Prob (F-statistic):           2.81e-25
Time:                        00:25:28   Log-Likelihood:                -9322.0
No. Observations:                5626   AIC:                         1.865e+04
Df Residuals:                    5622   BIC:                         1.868e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.1256      0.031     36.621      0.000       1.065       1.186
afchnge        0.0077      0.045      0.171      0.864      -0.080       0.095
highearn       0.2565      0.047      5.406      0.000       0.163       0.349
afhigh         0.1906      0.069      2.782      0.005       0.056       0.325
==============================================================================
Omnibus:                       29.931   Durbin-Watson:                   1.905
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.672
Skew:                           0.037   Prob(JB):                     8.93e-10
Kurtosis:                       3.415   Cond. No.                         6.38
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Exercício C4 - Capítulo 13

In [26]:
#Usando o mesmo dataset do exercício anterior 
#Carregando a base de dados injury 
df = wooldridge.data('injury')
#Vendo a descrição do dataset
wooldridge.data('injury', description=True)

name of dataset: injury
no of variables: 30
no of observations: 7150

+----------+--------------------------------+
| variable | label                          |
+----------+--------------------------------+
| durat    | duration of benefits           |
| afchnge  | =1 if after change in benefits |
| highearn | =1 if high earner              |
| male     | =1 if male                     |
| married  | =1 if married                  |
| hosp     | =1 if inj. required hosp. stay |
| indust   | industry                       |
| injtype  | type of injury                 |
| age      | age at time of injury          |
| prewage  | previous weekly wage, 1982 $   |
| totmed   | total med. costs, 1982 $       |
| injdes   | 4 digit injury description     |
| benefit  | real dollar value of benefit   |
| ky       | =1 for kentucky                |
| mi       | =1 for michigan                |
| ldurat   | log(durat)                     |
| afhigh   | afchnge*highearn               |
| lprewage | log(wage)                      |
| lage     | log(age)                       |
| ltotmed  | log(totmed); = 0 if totmed < 1 |
| head     | =1 if head injury              |
| neck     | =1 if neck injury              |
| upextr   | =1 if upper extremities injury |
| trunk    | =1 if trunk injury             |
| lowback  | =1 if lower back injury        |
| lowextr  | =1 if lower extremities injury |
| occdis   | =1 if occupational disease     |
| manuf    | =1 if manufacturing industry   |
| construc | =1 if construction industry    |
| highlpre | highearn*lprewage              |
+----------+--------------------------------+

B.D. Meyer, W.K. Viscusi, and D.L. Durbin (1995), “Workers’
Compensation and Injury Duration: Evidence from a Natural Experiment,”
American Economic Review 85, 322-340. Professor Meyer kindly provided
the data.

In [27]:
#Filtrando o nosso dataset para o Kentucky 
df_t = df[df.ky == 1] #1 é positivo para kentucky
indust_dummy = pd.get_dummies(df_t['indust'], prefix='indust') #Criando dummies para industria
df_t = pd.concat([df_t, indust_dummy], axis=1) #Concatenando as dummies ao dataframe

In [43]:
#Renomeando as colunas igual ao R
df_t.rename(columns={"indust_1.0": "indust1", "indust_2.0": "indust2", "indust_3.0": "indust3"},inplace=True,)
df_t

,durat,afchnge,highearn,male,married,hosp,indust,injtype,age,prewage,...,trunk,lowback,lowextr,occdis,manuf,construc,highlpre,indust1,indust2,indust3
0,1.0,1,1,1.0,0.0,1,3.0,1,26.0,404.950012,...,0,0,0,0,0.0,0.0,6.003764,0,0,1
1,1.0,1,1,1.0,1.0,0,3.0,1,31.0,643.825012,...,0,0,0,0,0.0,0.0,6.467427,0,0,1
2,84.0,1,1,1.0,1.0,1,3.0,1,37.0,398.125000,...,0,0,0,0,0.0,0.0,5.986766,0,0,1
3,4.0,1,1,1.0,1.0,1,3.0,1,31.0,527.799988,...,0,0,0,0,0.0,0.0,6.268717,0,0,1
4,1.0,1,1,1.0,1.0,0,3.0,1,23.0,528.937500,...,0,0,0,0,0.0,0.0,6.270870,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5621,17.0,0,0,0.0,0.0,0,2.0,7,25.0,240.385406,...,0,0,0,1,0.0,1.0,0.000000,0,1,0
5622,1.0,0,0,1.0,1.0,1,3.0,7,37.0,240.385406,...,0,0,0,1,0.0,0.0,0.000000,0,0,1
5623,16.0,0,0,0.0,0.0,1,3.0,7,23.0,198.255997,...,0,0,0,1,0.0,0.0,0.000000,0,0,1
5624,3.0,0,0,1.0,0.0,0,3.0,7,27.0,203.212402,...,0,0,0,1,0.0,0.0,0.000000,0,0,1
5625,3.0,0,0,0.0,1.0,0,3.0,7,59.0,148.692001,...,0,0,0,1,0.0,0.0,0.000000,0,0,1

In [44]:
#Fazendo o modelo 
model = smf.ols('ldurat ~ afchnge + highearn + male + married + hosp + indust1 + indust2 + indust3 + afhigh', data=df_t)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 ldurat   R-squared:                       0.173
Model:                            OLS   Adj. R-squared:                  0.171
Method:                 Least Squares   F-statistic:                     124.2
Date:                Mon, 24 Apr 2023   Prob (F-statistic):          8.14e-213
Time:                        00:37:39   Log-Likelihood:                -8402.9
No. Observations:                5362   AIC:                         1.683e+04
Df Residuals:                    5352   BIC:                         1.689e+04
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.6512      0.325      2.001      0.045       0.013       1.289
afchnge        0.0419      0.042      1.006      0.315      -0.040       0.124
highearn       0.1497      0.048      3.129      0.002       0.056       0.244
male          -0.1174      0.041     -2.857      0.004      -0.198      -0.037
married        0.1191      0.036      3.289      0.001       0.048       0.190
hosp           1.1024      0.036     30.493      0.000       1.032       1.173
indust1        0.1153      0.324      0.356      0.722      -0.520       0.750
indust2        0.2933      0.325      0.902      0.367      -0.344       0.930
indust3        0.2437      0.323      0.755      0.450      -0.389       0.877
afhigh         0.1853      0.064      2.874      0.004       0.059       0.312
==============================================================================
Omnibus:                       39.766   Durbin-Watson:                   1.915
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               47.532
Skew:                          -0.142   Prob(JB):                     4.77e-11
Kurtosis:                       3.364   Cond. No.                         73.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [45]:
#Estimando para o Michigan 
df_m = df[df.mi == 1] #1 é positivo para Michigan
indust_dummy = pd.get_dummies(df_m['indust'], prefix='indust') #Criando dummies para industria
df_m = pd.concat([df_m, indust_dummy], axis=1) #Concatenando as dummies ao dataframe

In [46]:
#Renomeando as colunas igual ao R
df_m.rename(columns={"indust_1.0": "indust1", "indust_2.0": "indust2", "indust_3.0": "indust3"},inplace=True,)
df_m

,durat,afchnge,highearn,male,married,hosp,indust,injtype,age,prewage,...,trunk,lowback,lowextr,occdis,manuf,construc,highlpre,indust1,indust2,indust3
5626,2.00,1,1,0.0,1.0,0,1.0,1,54.0,688.120789,...,0,0,0,0,1.0,0.0,6.533964,1,0,0
5627,0.25,1,1,1.0,1.0,0,1.0,1,23.0,653.292603,...,0,0,0,0,1.0,0.0,6.482025,1,0,0
5628,0.25,1,1,1.0,1.0,0,1.0,1,23.0,653.292603,...,0,0,0,0,1.0,0.0,6.482025,1,0,0
5629,7.00,1,1,1.0,1.0,0,1.0,1,43.0,691.286987,...,0,0,0,0,1.0,0.0,6.538555,1,0,0
5630,8.00,1,1,1.0,1.0,0,2.0,1,36.0,1005.796204,...,0,0,0,0,0.0,1.0,6.913535,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7145,1.00,0,0,1.0,1.0,0,3.0,7,23.0,284.299988,...,0,0,0,1,0.0,0.0,0.000000,0,0,1
7146,18.00,0,0,0.0,0.0,0,3.0,7,31.0,304.769592,...,0,0,0,1,0.0,0.0,0.000000,0,0,1
7147,14.00,0,0,0.0,0.0,0,3.0,7,66.0,255.869995,...,0,0,0,1,0.0,0.0,0.000000,0,0,1
7148,76.00,0,0,0.0,NaN,0,3.0,7,39.0,274.065186,...,0,0,0,1,0.0,0.0,0.000000,0,0,1
7149,4.00,0,0,1.0,1.0,0,3.0,7,45.0,304.769592,...,0,0,0,1,0.0,0.0,0.000000,0,0,1

In [49]:
#Fazendo o modelo 
model = smf.ols('ldurat ~ afchnge + highearn + male + married + hosp + indust1 + indust2 + indust3 + afhigh', data=df_m)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 ldurat   R-squared:                       0.139
Model:                            OLS   Adj. R-squared:                  0.133
Method:                 Least Squares   F-statistic:                     26.36
Date:                Mon, 24 Apr 2023   Prob (F-statistic):           1.68e-42
Time:                        00:42:52   Log-Likelihood:                -2470.6
No. Observations:                1484   AIC:                             4961.
Df Residuals:                    1474   BIC:                             5014.
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.8273      0.435      4.199      0.000       0.974       2.681
afchnge        0.1252      0.080      1.559      0.119      -0.032       0.283
highearn       0.1462      0.105      1.390      0.165      -0.060       0.353
male          -0.4253      0.091     -4.653      0.000      -0.605      -0.246
married        0.0331      0.073      0.453      0.651      -0.110       0.176
hosp           1.0253      0.077     13.398      0.000       0.875       1.175
indust1       -0.4724      0.432     -1.095      0.274      -1.319       0.374
indust2        0.0302      0.437      0.069      0.945      -0.827       0.887
indust3       -0.3865      0.431     -0.896      0.370      -1.232       0.459
afhigh         0.1045      0.146      0.716      0.474      -0.182       0.391
==============================================================================
Omnibus:                       24.736   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               42.823
Skew:                           0.092   Prob(JB):                     5.03e-10
Kurtosis:                       3.811   Cond. No.                         44.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.